<!--Recursive tree component-->
<ul class="tree">
  <li *ngFor="let node of nodes">
    <div class="node" (click)="onEditProduct($event, node)" [style.paddingLeft]="(node.level * 8) + 'px'" *ngIf="node.entity.hasOwnProperty('isFood'); else categoryNode">
       - {{ node.entity.name }}
      <span class="node-add" >
          <span (click)="onRemoveProduct($event, node)">x</span>
        </span>
    </div>
    <ng-template #categoryNode>
      <div class="node" [style.paddingLeft]="(node.level * 8) + 'px'" (click)="onNodeClick($event, node)">
        {{ node.entity.name }}
        <span class="node-add" >
          <span (click)="onCountTree($event, node)">$</span>
          <span (click)="onAddProduct($event, node)"  *ngIf="node.entity.id">+p</span>
          <span (click)="onAddNodeClick($event, node)">+c</span>
          <span (click)="onRemoveNode($event, node)" *ngIf="node.entity.id">x</span>
        </span>
      </div>
    </ng-template>
    <div class="sub-tree" *ngIf="node.hasChildren"  [style.display]="node.isOpen ? 'block' : 'none'">
      <app-tree [nodes]="node.children"></app-tree>
    </div>
  </li>
</ul>
