<!--The content below is only a placeholder and can be replaced.-->
<div class="sidebar">
  <app-tree [nodes]="categories"></app-tree>
</div>

<div class="content">
  <app-product-form></app-product-form>
</div>

<!--Modal window-->
<div *ngIf="categoryModalState" class="modal">
  <div class="modal-body">
    <b *ngIf="categoryModelParent">Add category for: {{ categoryModelParent.entity.name }}</b>
    <hr>
    <form (submit)="onSubmitNewNode()" #categoryForm="ngForm">
      <div *ngIf="nameField.errors" [hidden]="categoryForm.valid || categoryForm.pristine">
        <div class="form-error" *ngIf="nameField.errors['required']">Field is required</div>
        <div class="form-error" *ngIf="nameField.errors['categoryName']">{{ nameField.errors['categoryName'] }}</div>
      </div>
      <input type="text" placeholder="Category name" name="name" #nameField="ngModel"
             [(ngModel)]="categoryModel.name"
             [appCategoryNameValidator]="categoryModel.name" required>
      <button type="submit" [disabled]="!categoryForm.form.valid"> Okay </button>
      <button type="button" (click)="closeModal($event)"> Exit </button>
    </form>
  </div>
</div>

