<form (submit)="onSubmit()" #productForm="ngForm" *ngIf="product">

  <fieldset *ngIf="category">
    Category: {{ category.name }}
  </fieldset>

  <fieldset>
    <label>
      <span>Продовольственный</span>
      <input type="checkbox" name="isFood" [(ngModel)]="product.isFood">
    </label>
  </fieldset>

  <fieldset>
    <label>
      <span>Наименнование*</span>
      <input type="text" name="name" #nameField="ngModel" appCategoryNameValidator=" {{ product.name }}"  [(ngModel)]="product.name" required #spy>
      <div  [hidden]="nameField.pristine || nameField.valid">
        <span class="form-error" *ngIf="nameField.errors">
          <span *ngIf="nameField.errors['required']">Обязательное</span>
          <span *ngIf="nameField.errors['categoryName']">Нельзя кирилицу и -</span>
        </span>
      </div>
    </label>
    <label>
      <span>Цена</span>
      <input type="number" name="cost" [(ngModel)]="product.cost">
    </label>
  </fieldset>

  <fieldset *ngIf="product.isFood">
    <label>
      <span>Бренд</span>
      <input type="text" name="brand" [(ngModel)]="product.brand">
    </label>
    <label>
      <span>URL</span>
      <input type="text" name="url" #urlForm="ngModel" appUrlValidator=" {{ product.url }}" [(ngModel)]="product.url">
      <div [hidden]="urlForm.valid || urlForm.pristine">
        <span class="form-error" *ngIf="urlForm.errors">
          <span *ngIf="urlForm.errors['url']">{{ urlForm.errors['url'] }}</span>
        </span>
      </div>
    </label>
    <label>
      <span>Цвет</span>
      <input type="text" name="color" [(ngModel)]="product.color">
    </label>
  </fieldset>

  <fieldset>
    <button type="submit" [disabled]="!productForm.valid">Сохранить</button>
    <button type="button" (click)="onResetForm()">Отмена</button>
    <span>*обязательные</span>
  </fieldset>
    <pre>
    {{ spy.className | json }}
    </pre>

</form>
