<form action="">

  <fieldset>
    Category:
  </fieldset>

  <fieldset>
    <label>
      <span>Продовольственный</span>
      <input type="checkbox" name="isFood" value="">
    </label>
  </fieldset>

  <fieldset>
    <label>
      <span>Наименнование</span>
      <input type="text" name="name">
    </label>
    <label>
      <span>Цена</span>
      <input type="number" name="cost">
    </label>
  </fieldset>

  <fieldset>
    <label>
      <span>Бренд</span>
      <input type="text" name="brand">
    </label>
    <label>
      <span>URL</span>
      <input type="text" name="url">
    </label>
    <label>
      <span>Цвет</span>
      <input type="text" name="color">
    </label>
  </fieldset>

  <fieldset>
    <button>Сохранить</button>
    <button>Отмена</button>
  </fieldset>

</form>
