/* You can add global styles to this file, and also import other style files */

* {
  box-sizing: border-box;
}

html {
  font-family: Arial, serif;
  padding: 0;
  margin: 0;
}

body {
  padding: 0;
  margin: 0;
  min-height: 100%;
}


.sidebar {
  position: fixed;
  top: 0;
  height: 100%;
  min-width: 250px;
  background-color: #f7f7f7;
  border-right: 1px solid #e2e2e2;
}

.tree {
  margin: 0;
  padding: 0;
  list-style: none;
}

.tree .tree .node{
  background: white;
  padding: 8px 32px;
  border-bottom: 1px solid #eaeaea;
  font-size: .8rem;
}

.node{
  padding: 8px 8px 8px 16px;
  border-bottom: 1px solid #e2e2e2;
}

.node:hover{
  cursor: pointer;
  background: #e2e2e2;
}

.node-add{
  position: absolute;
  right: 8px;
  font-weight: bold;
  color: #d6d6d6;
}

.node-add:hover {
  color: #737373;
}

.modal {
  height: 100%;
  top: 0;
  width: 100%;
  position: fixed;
  background-color: #585858b3;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-align-content: stretch;
  -ms-flex-line-pack: stretch;
  align-content: stretch;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.modal:nth-child(1) {
  -webkit-order: 0;
  -ms-flex-order: 0;
  order: 0;
  -webkit-flex: 0 1 auto;
  -ms-flex: 0 1 auto;
  flex: 0 1 auto;
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  align-self: center;
}

.modal-body{
  padding: 36px;
  border: 1px solid #e2e2e2;
  background: #f7f7f7;
}
